* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}